/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

a {
    color: #007bff;
}


/* Header Styles */
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
}

.image-headshot {
    background-image: url("./images/Alan\ new-enhanced.jpg");
    height: 1200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute
    border-bottom: #333 solid 10px;
    flex: auto;
  }

#landing { 
        background-color: rgba(51, 51, 51, 1);
        color: #fff; 
        width: 1400px; 
        height: 1100px;
        margin: 0 auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -1166px;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

.image-forehead {
    background-image: url("./images/Alan\ Forhead.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: #333 solid 10px;
    flex: auto;
  }

  .image-eyes {
    background-image: url("./images/Alan\ Eyes.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: -10px;
    z-index: 1;
    border-bottom: #333 solid 10px;
    border-top: #333 solid 10px;;
    flex: auto;
  }

  .image-mustache {
    background-image: url("./images/Alan\ Mustache.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: -10px;
    z-index: 1;
    border-bottom: #333 solid 10px;
    border-top: #333 solid 10px;;
    flex: auto;
  }

  

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Home Section Styles */
#home {
    text-align: center;
    padding: 50px 0;
}

#home h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#home p {
    font-size: 18px;
}

/* About Section Styles */
#about {
    background-color: #f9f9f9;
    padding: 50px;
    border-top: #333 solid 10px ;
}

/* Portfolio Section Styles */
#portfolio {
    padding: 50px;
}

.project {
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}
/* Contact Section Styles */
#contact {
    background-color: #f9f9f9;
    padding: 50px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #ff7300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

@media (max-width: 600px) {

    .image-headshot {
    height: 860px;
    border-bottom: #333 solid 10px;
    right: 10px;
    }

    .image-forehead,
    .image-eyes,
    .image-mustache {
    height: 200px;
    top: -1px;
    }

    #landing {
        height: 600px;
        width: 340px;
        top: -700px;
    }

header {
    flex-direction: row;

    }
nav ul {
    flex-direction: row;
    align-items: center;
}

nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
}
}