/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */

/* Header Styles */

/* Home Section Styles */

/* About Section Styles */

/* Portfolio Section Styles */

/* Contact Section Styles */

/* Footer Styles */
