/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

a {
    color: #007bff;
}


/* Header Styles */
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
}

.Background-Image {
    height: 35%;
    width: 100%;
    background-size: cover;
    background-position: left;
    position: absolute;
    background-image: url("../assets/images/Alan new.jpg")
  }

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Home Section Styles */
#home {
    text-align: center;
    padding: 50px 0;
}

#home h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#home p {
    font-size: 18px;
}

/* About Section Styles */
#about {
    background-color: #f9f9f9;
    padding: 50px;
    border-top: #333 solid 10px ;
    border-bottom: #333 solid 10px;
    opacity: 80%;
}

/* Portfolio Section Styles */
#portfolio {
    padding: 50px;
}

.project {
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}
/* Contact Section Styles */
#contact {
    background-color: #f9f9f9;
    padding: 50px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #ff7300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}
